.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    min-height: 500px;
    margin-top: 50px;
    flex-direction: column;
    gap: 50px;
}
.numberGridContainer{
    display: grid;
    height: 450px;
    width: 350px;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
    padding: 20px;
    border: 5px solid black;
    background-color: pink;
    border-radius: 20px;

}

button{
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.result{
    font-size: 30px;
    display:flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.gridColSpan2{
    grid-column: span 2;
}

.result{
    grid-column: span 4;
    border: 4px solid black;
    font-size: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    padding-right: 25px;
}

.workingResult{
    font-size:  15px;
}

#creator{
    font-size: 25px;
}